body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 15px;
    border: 1px solid #C1BFBF;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

h2 {
    color: #8C1D40; /* ASU Red */
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

textarea, input[type="number"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #C1BFBF;
    border-radius: 3px;
}

input[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #8C1D40;
    color: #FFC627;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    input[type="submit"]:hover {
        background-color: #991F3D;
    }
